@model FashionStore.UI.Web.Models.AccountViewModel

@{
    ViewBag.Title = "Şifre Sıfırlama | Elsa Giyim";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!-- Page Title -->
<section class="page-title text-center">
    <div class="container relative clearfix">
        <div class="title-holder">
            <div class="title-text">
                <h1 class="uppercase">Şifre Sıfırlama</h1>
                @Html.Partial("_PartialValidationResult")
            </div>
        </div>
    </div>
</section> <!-- end page title -->
<!-- login -->
<section class="section-wrap login-register pt-0 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1 mb-40">
                @using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x=>x.Customer.PasswordResetToken)
                    <div class="login">
                        <h4 class="uppercase">Şifre Sıfırlama - @Model.Customer.Name @Model.Customer.Surname</h4>
                        <p class="form-row form-row-wide">
                            <label>
                                Şifre
                                <abbr class="required" title="Zorunlu Alan">*</abbr>
                            </label>
                            @Html.PasswordFor(x => x.Customer.Password, new { @class = "input-text", placeholder = "Yeni Parolanız..." })
                            <div style="color:red;">
                                @Html.ValidationMessageFor(x => x.Customer.Password)
                            </div>
                        </p>
                        <p class="form-row form-row-wide">
                            <label>
                                Şifre (Tekrar)
                                <abbr class="required" title="Zorunlu Alan">*</abbr>
                            </label>
                            @Html.PasswordFor(x => x.PasswordConfirm, new { @class = "input-text", placeholder = "Yeni Parola(Tekrar)..." })
                            <div style="color:red;">
                                @Html.ValidationMessageFor(x => x.PasswordConfirm)
                            </div>
                        </p>
                        <input type="submit" value="Sıfırla" class="btn">
                    </div>
                }
            </div>
        </div>
    </div>
</section> <!-- end login -->
