@section styles
{
    <link href="~/AdminTemplate/plugins/bower_components/summernote/dist/summernote.css" rel="stylesheet" />
}
@{
    ViewBag.Title = "İçerik Sayfası Güncelleme";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model FashionStore.Entity.Entities.ContentPage

<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">İçerik Sayfası Düzenle</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/Admin/Home">Dashboard</a></li>
                <li><a href="/Admin/Content/ContentPageList">İçerik Sayfaları Yönetimi</a></li>
                <li class="active">İçerik Sayfası Düzenle</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <!-- .row -->
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h2 class="box-title m-b-0">İçerik Sayfası Düzenle</h2>
                <a class="btn btn-danger waves-effect waves-light" data-toggle="modal" data-target="#delete-modal" type="button"><span class="btn-label"><i class="fa fa-trash"></i></span>İçerik Sayfası Sil</a>
                <hr />
                @Html.Partial("_PartialValidationResult")
                <div class="tab-pane active">
                    @using (Html.BeginForm("ContentPageEdit", "Content", FormMethod.Post, new { @class = "form-horizontal form-material", @data_toggle = "validator" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.Id)
                        @Html.HiddenFor(x=>x.SeoUrl)
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-12">Sayfa Başlığı</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control form-control-line" })
                                        <div style="color:red;">
                                            @Html.ValidationMessageFor(x => x.Title)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="box-title">Sayfa İçeriği</label>
                                    <div class="col-md-12">
                                        @Html.TextAreaFor(x => x.PageDetail, new { @class = "summernote" })
                                        <div style="color: red;">
                                            @Html.ValidationMessageFor(x => x.PageDetail)
                                        </div>
                                    </div>
                                </div>
                                <div class="checkbox checkbox-primary" id="chck1">
                                    <input id="checkbox1" type="checkbox" name="ShowOnHeader" value=@Model.ShowOnHeader.ToString().ToLower() checked="@Model.ShowOnHeader">
                                    <label for="checkbox1"> Header Gösterim Durumu</label>
                                </div>
                                <div class="checkbox checkbox-primary" id="chck2">
                                    <input id="checkbox2" type="checkbox" name="ShowOnFooterColumn1" value=@Model.ShowOnFooterColumn1.ToString().ToLower() checked="@Model.ShowOnFooterColumn1">
                                    <label for="checkbox2"> Footer İlk Kolonda Gösterilsin</label>
                                </div>
                                <div class="checkbox checkbox-primary" id="chck3">
                                    <input id="checkbox3" type="checkbox" name="ShowOnFooterColumn2" value=@Model.ShowOnFooterColumn2.ToString().ToLower() checked="@Model.ShowOnFooterColumn2">
                                    <label for="checkbox3"> Footer İkinci Kolonda Gösterilsin</label>
                                </div>
                                <div class="checkbox checkbox-primary" id="chck4">
                                    <input id="checkbox4" type="checkbox" name="ShowOnFooterColumn3" value=@Model.ShowOnFooterColumn3.ToString().ToLower() checked="@Model.ShowOnFooterColumn3">
                                    <label for="checkbox4"> Footer Üçüncü Kolonda Gösterilsin</label>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-success">Sayfa İçeriği Güncelle</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Sayfayı Sil</h4>
            </div>
            <div class="modal-body">
                <h3>Sayfa silme işlemine eminseniz aşağıdan sil butonuna basınız.</h3>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Kapat</button>
                    <a href="/Admin/Content/ContentPageDelete/@Model.Id" class="btn btn-danger waves-effect">Sil</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/AdminTemplate/plugins/bower_components/summernote/dist/summernote.min.js"></script>
    <script>

        $(document).ready(function () {

            $('.summernote').summernote({
                height: 350, // set editor height
                minHeight: null, // set minimum height of editor
                maxHeight: null, // set maximum height of editor
                focus: false // set focus to editable area after initializing summernote
            });

            $('.inline-editor').summernote({
                airMode: true
            });

        });

        window.edit = function () {
            $(".click2edit").summernote()
        },
            window.save = function () {
                $(".click2edit").summernote('destroy');
            }
    </script>
    <script>
        $('#chck1 input[type="checkbox"]').change(function () {
            if ($(this).is(":checked")) {
                $(this).val('true');
            } else {
                $(this).val('false');
            }
        });
        $('#chck2 input[type="checkbox"]').change(function () {
            if ($(this).is(":checked")) {
                $(this).val('true');
            } else {
                $(this).val('false');
            }
        });
        $('#chck3 input[type="checkbox"]').change(function () {
            if ($(this).is(":checked")) {
                $(this).val('true');
            } else {
                $(this).val('false');
            }
        });
        $('#chck4 input[type="checkbox"]').change(function () {
            if ($(this).is(":checked")) {
                $(this).val('true');
            } else {
                $(this).val('false');
            }
        });

    </script>
}

