@model FashionStore.UI.Web.Areas.Admin.Models.SliderViewModel
@section styles
{
    <link href="~/AdminTemplate/plugins/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
    <link href="~/AdminTemplate/plugins/bower_components/dropzone-master/dist/dropzone.css" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "Slider Ekleme";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Slider Ekle</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="/Admin/Home">Dashboard</a></li>
                <li><a href="/Admin/Content/SliderList">Slider Yönetimi</a></li>
                <li class="active">Slider Ekle</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <!-- .row -->
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h2 class="box-title m-b-0">Slider Ekle</h2>
                <hr />
                @Html.Partial("_PartialValidationResult")
                <div class="tab-pane active">
                    @using (Html.BeginForm("SliderAdd", "Content", FormMethod.Post, new { @class = "form-horizontal form-material", @data_toggle = "validator", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-12">Slider Başlığı</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(x => x.Slider.SliderTitle, new { @class = "form-control form-control-line" })
                                        <div style="color:red;">
                                            @Html.ValidationMessageFor(x => x.Slider.SliderTitle)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label class="col-md-12">Slider Kategorisi</label>
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(x => x.Slider.CategoryId, new SelectList(ViewBag.Categories, "Value", "Text"), "Kategori Seçiniz", new { @class = "form-control form-control-line" })
                                                <div style="color:red;">
                                                    @Html.ValidationMessageFor(x => x.Slider.CategoryId)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12">Slider Açıklama</label>
                                            <div class="col-md-12">
                                                @Html.TextAreaFor(x => x.Slider.SilderDescription, new { @class = "form-control form-control-line", rows = 3 })
                                                <div style="color:red;">
                                                    @Html.ValidationMessageFor(x => x.Slider.SilderDescription)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="white-box">
                                            <h3 class="box-title m-b-0">Slider Resmini Yükle </h3>
                                            <p class="text-muted m-b-30"> Birden fazla resim seçebilirsiniz.</p>
                                            <div class="fallback">
                                                <input name="PostedSlider" type="file" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Görüntülenme Sırası</label>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.Slider.DisplayOrder, new { @class = "form-control form-control-line", @data_bts_button_down_class = "btn btn-default btn-outline", @data_bts_button_up_class = "btn btn-default btn-outline", id = "tch3", Value = 1, style = "text-align:center;" })
                                        <div style="color:red;">
                                            @Html.ValidationMessageFor(x => x.Slider.DisplayOrder)
                                        </div>
                                    </div>
                                </div>
                                <div class="checkbox checkbox-primary" id="chck1">
                                    <input id="checkbox1" type="checkbox" name="Slider.IsActive" value=@Model.Slider.IsActive.ToString().ToLower()>
                                    <label for="checkbox1"> Slider Gösterim Durumu </label>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-success">Slider Ekle</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>

@section scripts
{
    <script src="~/AdminTemplate/plugins/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script src="~/AdminTemplate/plugins/bower_components/dropzone-master/dist/dropzone.js"></script>
    <script>
        //Bootstrap-TouchSpin
        $("input[id='tch3']").TouchSpin();

        $('#chck1 input[type="checkbox"]').change(function () {
            if ($(this).is(":checked")) {
                $(this).val('true');
            } else {
                $(this).val('false');
            }
        });
    </script>
}
